/* --- テーブルの設定 --- */
#site-operation-schedule-table {
  position: relative !important; /* スクロール処理の offsetParent にするために必要 */
  table-layout: fixed;
}

/* --- セルの text-align --- */
#site-operation-schedule-table th:nth-child(n + 2),
#site-operation-schedule-table td:nth-child(n + 2) {
  text-align: center !important;
}

/* --- Thead セクション --- */

#site-operation-schedule-table thead th:nth-child(-n + 2) {
  position: sticky !important;
  z-index: 3 !important;
}

#site-operation-schedule-table thead th:nth-child(1) {
  min-width: 144px;
  max-width: 144px;
  width: 144px !important;
  overflow: hidden;
  left: 0;
}

#site-operation-schedule-table thead th:nth-child(2) {
  min-width: 96px;
  max-width: 96px;
  left: 144px;
}

#site-operation-schedule-table thead th:nth-child(n + 3) {
  min-width: 68px !important;
  padding: 0px 4px !important;
}

/* --- Tbody セクション --- */
#site-operation-schedule-table tbody td:nth-child(-n + 2) {
  position: sticky;
  z-index: 2;
  background-color: #fff;
}

#site-operation-schedule-table tbody td:nth-child(1) {
  left: 0;
}

#site-operation-schedule-table tbody td:nth-child(2) {
  left: 144px;
}

/* ホバー時の背景色処理 */
#site-operation-schedule-table tbody tr:hover td:nth-child(-n + 2) {
  background-color: inherit;
}

#site-operation-schedule-table tbody td:nth-child(n + 3) {
  padding: 0px 8px !important;
}

/* --- Tfoot セクション --- */
#site-operation-schedule-table tfoot {
  position: sticky;
  bottom: 0;
  z-index: 4;
}

#site-operation-schedule-table tfoot th {
  background-color: #fff;
}

#site-operation-schedule-table tfoot th:nth-child(-n + 2) {
  position: sticky !important;
  z-index: 4 !important;
}

#site-operation-schedule-table tfoot th:nth-child(1) {
  min-width: 144px;
  left: 0;
}

#site-operation-schedule-table tfoot th:nth-child(2) {
  min-width: 96px;
  left: 144px;
}

#site-operation-schedule-table tfoot th:nth-child(n + 3) {
  padding: 0px 4px !important;
}

/* --- サイト名スタイル --- */
#site-operation-schedule-table .site-name {
  width: calc(144px - 32px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
